@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700,700i&display=swap');

@import url('https://fonts.googleapis.com/css?family=Arimo:400,400i,700,700i&display=swap');


.oneCol {
    max-width: 825px;
}

h1, h2, h3 {
    font-family: 'Source Sans Pro', sans-serif;
}



h1 {
    font-weight: 700;
    font-size: 4em;
}

main h2 {
    font-size: 3.1em;
    position: relative;
    /* font-weight: 700; */
    margin-top: 30px;
    margin-bottom: 40px;
}



main h2:after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 90px;
    height: 3px;
    background-color: #193b5a;
    /* left: calc(50% - 90px); */
    left: 0;
    margin: 0 auto;
    margin-bottom: 00px;
}

.masthead h2:after, h2.text-center:after, .blueBox h2:after, .tealBox h2:after {
    content: "";
    position: inherit;
    bottom: 0px;
    width: 0px;
    height: 0px;
    background-color: #193b5a;
    /* left: calc(50% - 90px); */
    left: 0;
    margin: 0 auto;
    margin-bottom: 00px;
}

h3 {
    font-size: 1.7em;
    font-weight: 700;
    margin-top: 20px;
}



.navbar {
    padding: 10px 0px;
}

.navbar-expand-lg .navbar-nav .nav-link, .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0px !important;
    padding-left: 20px !important;
}

.yellow-box {
    float: left; 
    background-color: yellow;
    max-width: 250px;
    margin: 10px;
    margin-top: 5px;
}

.masthead {
    width: 100%;
    min-height: 50vh;
    /* min-height: 500px; */
    background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* margin-bottom: 10px; */
    display: grid;
}

.masthead h1, .masthead h2, .masthead h3 {
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0,0,.4);
}

.masthead p, .masthead ul li {
    color: white;
}

.masthead ul li {
    list-style: none;
}


.blueBox {
    background-color: #4277a9;
    color: white;
    margin: 10px;
    padding: 10px;
}

.tealBox {
    background-color: #60afa1;
    color: white;
    margin: 10px;
    padding: 10px;
}

.blueBox h2, .tealBox h2 {
    text-align: center;
    box-shadow: 0px 0px 2px rgba(0,0,0,.5);
    border: 1px solid white;
    padding: 5px;
}

.img-max-height-150 {
    max-height: 150px;
}

.blueBox h3, .tealBox h3 {
    font-size: 1.3em;
    text-align: center;
}

.dark-blue-graident {
    background: rgb(0,146,184);
background: linear-gradient(180deg, rgba(0,146,184,1) 0%, rgba(0,180,217,1) 100%);
    padding: 20px 0px;
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0,0,.3);
}

.dark-blue-bg {
    background-color: rgba(0,180,217,1);
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0,0,.3);
}

.gray-box {
    background-color: lightgrey;
    padding: 50px 0;
}

.light-gray-box {
    background-color: #cbcbcb;
    padding: 20px 0;
}

.gray-box-title {
    background-color: lightgrey;
    padding: 20px 0;
}

.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.gray-box p strong {
    text-transform: uppercase;
    /* color: white; */
}

.gold-bar {
    background-color: #f6ba19;
    padding: 30px 0px;
}

.gold-bar a {
    color: black;
}

.font-size-lg {
    font-size: 1.5em;
}

.vert-align {
    position: relative;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    /* min-height: 5vh; */
}

.inside-cell {
    height: 100%;
    /* width: 100%; */
    display: grid;
    align-items: center;
}

.green {
    color: #027c08;
}

.gradient-blue {
    height: 2vh;
    background: rgb(0,146,184);
    background: linear-gradient(90deg, rgba(0,146,184,1) 0%, rgba(0,180,217,1) 100%);
}


/* Mobile Specific */

@media screen and (max-width: 480px) {
    .masthead h1 {
      font-size: 3em;
    }

    .masthead h2 {
        font-size: 1.8em;
    }


  }

  .corpHeader {
      background-color: #cbcbcb;
      padding: 3px 0;
  }

  .corpHeader p {
      margin: 0;
  }

  /* Footer */

  footer {
      background-color: #e4e4e4;
  }

  footer h2 {
      font-size: 1.5rem;
      line-height: 100%;
  }

  footer ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
  }

  footer ul li {
      margin-bottom: 5px;
  }

  footer ul li:last-child {
      margin-bottom: 0px;
  }

